<div class="row" id="skills">


    <h2 class="text-center">Hard skills</h2>
    <div>
      <div class="wrapper1" style="text-align:center" >
        <button type="button" class="btn btn-success"><i class="bi bi-wrench"></i></button>
        <p>Añadir skill</p>
    </div>
    </div>
   
  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <div class="wrapper" >
        <circle-progress [percent]="9" [radius]="70" [showUnits]="false"  [title]="'HTML'" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#02FFA3'" [innerStrokeColor]="'#D6D6EA'" [animation]="true" [animationDuration]="800">
        </circle-progress>
        <div class="botones" >
          <button class="btn btn-primary"><i
            class="bi bi-pencil-fill"></i></button>
          <div  class="boton1"><button  class="btn btn-light"><i class="bi bi-x-circle-fill"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <div class="wrapper" >
        <circle-progress [percent]="9" [radius]="70" [showUnits]="false"  [title]="'HTML'" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
          [outerStrokeColor]="'#02FFA3'" [innerStrokeColor]="'#D6D6EA'" [animation]="true" [animationDuration]="800">
        </circle-progress>
        <div class="botones" >
          <button class="btn btn-primary"><i
            class="bi bi-pencil-fill"></i></button>
          <div  class="boton1"><button  class="btn btn-light"><i class="bi bi-x-circle-fill"></i></button>
          </div>
        </div>
      </div>
    </div>
      
  </div>