<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <h1>Proyecto Argentina Progrma</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat tenetur aperiam, necessitatibus nemo laboriosam sint inventore! Tempore recusandae enim iure. Ea voluptate unde quod tempore temporibus! Eveniet quos eum obcaecati.</p>
        </div>
        <div>
            <img src="../../../assets/codigo.jpg">
        </div>
    </div>
</div>