<div id="proyects" class="row">
    
    
    <div class="div1">
        <div class="boton">
        <h2>Proyects</h2>
    </div>
        <div id="education">
            
            <div class="education-block" *ngFor="let Proyectos of proyectos">
    
                <h3>{{Proyectos.nombreE}}</h3>
               
                <p>{{Proyectos.descripcionE}}</p>
               
                <img class="imagenes1"  src="../../../assets/gestion-de-proyectos.webp">
                 <div class="boton2"> 
                <button routerLink="/editpro/{{Proyectos.id}}"><i class="bi bi-pencil"></i></button>
                </div>
                
            </div>
           
          
        </div>
    </div>
    </div>